@charset "UTF-8";

* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: rgb(82, 82, 222);
}
h1 {
    text-align: center;
    color: aliceblue;
    padding: 30px;
}
section {
    background-color: white ;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
#msg {
    font-size: 1.4em;
    
}
div {
    text-align: center;
    padding: 10px;
}

footer {
    text-align: center;
    color: aliceblue;
    padding: 30px;
}

