* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: darkgray;
}

header {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.622);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.logo {
    display: flex;
    align-items: center;
}
.navlist {
    display: flex;
    align-items: center;
    gap: 30px;
}
.loginbutton {
    display: flex;
    align-items: center;
}
.loginbutton > button {
    padding: 9px;
    background-color: rgb(139, 139, 139) ;
    border-radius: 8px;
    width: 80px;
    border: none;
}
.menumobileicon {
    display: none;
}
.menumobileicon button {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
}
.menumobile {
    display: none;
}

@media screen and (max-width: 650px) { 
.navlist {
    display: flex;    
    flex-direction: column;
}
.loginbutton {
    display: flex;
    flex-direction: column;
}
.menumobileicon {
    display: flex;
    width: 30px;
    height: 30px;
}

}